table {
    border: 1px solid;
}

td {
    border: 1px solid; 
    text-align: center; 
    vertical-align: middle;
}

tr:hover {
    background-color: aqua;
    cursor: pointer;
}

td.C {
    text-align: left;
}